= render 'back_button'
.row
  .col-sm-12.form-box
    .form-group
      = form_for @user,  url: {action: "update"}, html: {class: "col s12 card-panel"} do |f|
        %h3 Editar Usuario
        .form-group
          = f.label :username, "Nombre de la Empresa", class: "control-label"
          = f.text_field :username, class: "form-control"
        .form-group
          = f.label :nit, "N.I.T", class: "control-label"
          = f.text_field :nit, class: "form-control"
        .form-group
          = f.label :description,"Quiénes Somos", class: "control-label"
          = f.text_field :description, class: "form-control"
        .form-group
          = f.label :email,"Email Empresa-Representante", class: "control-label"
          = f.text_field :email, class: "form-control"
        .form-group
          = f.label :telefonos,"Telefonos de Contacto", class: "control-label"
          = f.text_field :phone, class: "form-control"
        .form-group
          = f.label :Constraseña, class: "control-label"
          = f.text_field :password, class: "form-control"
        .form-group
          = f.label :Direccion, class: "control-label"
          = f.text_field :address, class: "form-control"
        .form-group
          = f.label :city, "Ciudad", class: "control-label"
          = f.text_field :city, class: "form-control"
        %input.btn{type: 'submit', name: 'name', value: 'Actualizar Usuario'}
