/ Section for the Offers that are present in the system
.panel.panel-default
  .panel-heading
    %h3 Compras Realizadas
  .panel-body
    - if (@invoices.empty?)
      .bs-callout.bs-callout-danger
        %h4 No Compras realizadas para su Petición
    - else
      .bs-callout.bs-callout-success
        %table.table.table-bordered
          %thead
            %th No. Compra
            - if (current_user.has_role?(:admin))
              %th Empresa Ofertante
            %th Material Comprado
            %th Cantidad Comprada
            %th Fecha de Compra

          %tbody
            - @invoices.each do |f|
              %tr
                %td
                  = f.id
                - if (current_user.has_role?(:admin))
                  %td
                    = f.offer&.created_by.username
                %td
                  = f.offer&.category.name
                %td
                  = f.actual_amount
                %td
                  = f.created_at.to_formatted_s(:db)
= render 'back_button'
