.panel.panel-default
  = render 'layouts/navigation/menu/administration'
.panel.panel-default
  = render 'layouts/navigation/menu/users'
.panel.panel-default
  = render 'layouts/navigation/menu/materials'
.panel.panel-default
  = render 'layouts/navigation/menu/categories'
.panel.panel-default
  = render 'layouts/navigation/menu/offers'
.panel.panel-default
  = render 'layouts/navigation/menu/petitions'
.panel.panel-default
  = render 'layouts/navigation/menu/invoices'
